<div class="p-grid p-ai-center vertical-container">
  <div class="p-col-6 p-offset-3">
    <div class="box">
      <h1>Enter Your Name</h1>
      <span class="p-float-label">
        <input class="input" id="float-input" type="text" pInputText [formControl]="name">
        <label for="float-input">Username</label>
      </span>
      <button pButton type="button" label="Start Game" class="p-mt-5" (click)="start()" [disabled]="name.invalid" ></button>
      <div>
        <h5>Rules:</h5>
        <ul class="p-ai-start">
          <li class="p-text-bold p-text-left">
            You need enter your name (min 4 letters).
          </li>
          <li class="p-text-bold p-text-left">In question page you will see question sorted by difficult, you will be need select one answer until 20 sec, if you not selected answer till 20 sec system will change question and you will be receive Failed score.</li>
          <li class="p-text-bold p-text-left">In last page you will be see your answer according question, and you can check question move cursor to answer (popover) also you can see percent correct answers.</li>
        </ul>
        <h2>Good Luck</h2>
      </div>
    </div>
  </div>
</div>
